@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Source+Sans+Pro&display=swap");

.product_wrapper {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.single_product_image {
  max-width: 400px;
  background-color: aqua;
  height: fit-content;
}

.upper_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 13px;
}
.price_block {
  display: flex;
  flex-direction: row;
  margin-right: 13px;
}
.normal_price {
}

.product_discount {
  color: rgb(212, 55, 55);
}
.product_title_text {
  font-weight: 400;
  font-size: 14px;
}

.lower_block {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.product_brand {
  margin-left: 3px;
}
.chip {
  margin-right: 5px;
}
