.profile_list_items {
  min-width: 150px;
}

.profile_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.profile_content {
  margin-left: 30px;

  min-width: 500px;
  max-width: 50%;
}

.inner_user_profile_container {
  width: 100%;
}

.profile_update_form {
  display: flex;
  flex-direction: column;
}

.sale_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_headers {
  font-weight: 500;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content_header {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}

.orders_grid {
  height: fit-content;
  justify-content: center;
}

.profile_headers_2 {
  font-weight: 700;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}
